* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  
  max-width: 100%;
  min-height: 100vh;

  background-color: hsl(220, 13%, 18%);

  color: white;
  text-align: center;
  font-size: calc(10px + 2vmin);

  
  scrollbar-width: thin;
  scrollbar-color: hsl(220, 13%, 75%) hsl(220, 13%, 18%);
}

main {
  width: 100%;
}

section {
  margin-block: 2rem;
  padding: 1.5rem;

  background: rgba(255, 255, 255, .15);

  font-size: 1.2rem;
}

section .subtitle {
  margin-bottom: .75rem;
  font-size: 1.5rem;
}
section p {
  margin-top: .5rem;
  color: #E0E0E0;
}
